.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
}

thead {
  background-color: #7c6f6f;
}

tr {
  svg {
    width: 40px;
    height: 40px;
    fill: #eee;
  }
}

.fa-pen {
  margin-left: 6px;
  margin-right: 10px;
}

