

.nav-bar{
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 200px;
  height: 100%;
  background: #3C3C3C;

  a{
    padding: 10px;
    transition: background-color 300ms ease, color 300ms ease;
    user-select: none;

    &:hover{
      color: #fff;
      background-color: #666;
    }
  }

  .router-link-active{
    background: #444;
    cursor: default;

    &:hover{
      background-color: #444;

    }
  }
}

