// Цвета
$dark-color-1: #222;// Цвет акцентов
$bg-color: #444; // Цвет фона
$main-color: #333; // Основной цвет


$next-color: #3C3C3C;// Дополнительный цвет 1
$dark-color-2: #555; // Дополнительный цвет 2
$dark-color-3: #777; // Дополнительный цвет 3

//Текст
$text-color: #eee; // Цвет текста
$text-hover-color: #fff; // Цвет текста при наведении
$text-hover-bg: #666; // Задний фон текста при наведении
$text-active-bg: #555;

//Кнопка
$button-color: #555; // Цвет кнопки
$button-border-color: #333; // Цвет границы кнопки

//Ошибка
$error-color: #f44336; // Цвет ошибки