input {
  border: 1px solid #eee;
  border-radius: 5px;
  background: #444;
  padding: 0 5px;
  width: 100%;
  color: #eee;

  &:focus{
    outline: none;
  }
}

.input {
  &__error-text {
    max-width: fit-content;
    padding: 5px;
    margin: 5px 0;
    background: #a37272;
    border-radius: 10px;
  }

  &__error {
    border: 1px solid red;
  }

}