.movie-create {
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 20px;
  }
}

.v-field {
  &__input {
    input {
      border: none;
    }
  }
}

.text {
  margin-top: 20px;
}

#input-7 {
  background: transparent;
}