.movie-create {
  &__block {
    margin-bottom: 20px;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 20px;
  }
}

.v-field {
  &__input {
    input {
      border: none;
    }
  }
}

#input-7 {
  background: transparent;
}