@import "src/shared/scss-variables/index";

body{
    font-family: "Roboto", sans-serif;
    color: $white-one;
    background: $bg-color;
    font-width: 400;
}

a{
    text-decoration: none;
    color: $white-one;
}

.app{
    overflow: hidden;
}