@import 'base/index';



body{
    font-family: "Roboto", sans-serif;
    color: $text-color;
    background: $bg-color;
    font-width: 400;
}

a{
    text-decoration: none;
    color: $text-color;
}