@import "@/shared/scss-variables/index";

.header{
  svg{
    fill: $white-one;
  }

  &__logo{
    svg{
      width: 20px;
      height: 20px;
    }
  }

  &__out{
    svg{
      width: 25px;
      height: 25px;
    }
  }

}