.admin-layout{
  display: grid;
  grid-template-rows: 64px 1fr auto;
  min-height: 100%;

  &__header{
    position: fixed;
    top: 0;
    z-index: 100;
    grid-row: 1;
    width: 100%;
  }

  &__main{
    display: grid;
    grid-row: 2;
    grid-template-columns: auto 1fr;

    &-navigation{
      grid-column: 1;
    }

    &-content{
      grid-column: 2;
      padding: 5px 10px;
    }
  }
}





